<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Clients
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">




                <thead>

                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </tfoot>
                <tbody>
{{#each this.result.clients}}
    <tr>

                        <th>
                            <a href="/#/profile/:{{id}}"><img src="{{Picture}}" width="80px"></a>
                        </th>
                        <td>

                            {{Name}}
                        </td>
                        <td>{{Profession}}</td>
                        <td>{{Age}}</td>
                        <td>{{TrainingsLeft}}</td>
                        <td>{{EndDate}}</td>
                        <td>{{CardPrice}}</td>
                    </tr>
{{/each}}
                </tbody>
            </table>
        </div>
    </div>
    
</div>

<div id="add-client-wrapper" class="hidden">
    <div class="blur"></div>
    <div id="add-client-div">
        <a href="#">Upload picture</a>
        <input placeholder="Name" type="text">
        <input placeholder="Profession" type="text">
        <input placeholder="Age" type="number">
        <input placeholder="Trainings left" type="number">
        <input placeholder="End Date"type="date">
        <input placeholder="Price" type="number">
        
        <button>Add client</button>
    </div>
</div>