<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Clients
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">




                <thead>

                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each this.result.clients}}
                    <tr>

                        <th>
                            <a href="/#/profile/:{{id}}"><img src="{{Picture}}" width="80px"></a>
                        </th>
                        <td>

                            {{Name}}
                        </td>
                        <td>{{Profession}}</td>
                        <td>{{Age}}</td>
                        <td>{{TrainingsLeft}}</td>
                        <td>{{EndDate}}</td>
                        <td>{{CardPrice}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!-- Large modal -->


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Client</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="profession">Profession</label>
                        <input type="text" class="form-control" id="Profession" placeholder="Profession">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label for="trainings">Trainings Left</label>
                        <input type="number" class="form-control" id="trainings" placeholder="Trainings Left">
                    </div>
                    <div class="form-group">
                        <label for="date">End Date</label>
                        <input type="date" class="form-control" id="date" placeholder="End Date">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <div class="input-group">

                            <div class="input-group-addon">$</div>
                            <input type="text" class="form-control" id="price" placeholder="Price">
                            <div class="input-group-addon">.00</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upload">Upload Image</label>
                        <input type="file" id="upload">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->