<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Clients
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="dataTable" cellspacing="0">




                <thead>

                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Profession</th>
                        <th>Age</th>
                        <th>Trainings left</th>
                        <th>End date</th>
                        <th>Cart price</th>
                    </tr>
                </tfoot>
                <tbody>
{{#each this.result.clients}}
    <tr>

                        <th>
                            <a href="/#/profile/:{{id}}"><img src="{{Picture}}" width="80px"></a>
                        </th>
                        <td>

                            {{Name}}
                        </td>
                        <td>{{Profession}}</td>
                        <td>{{Age}}</td>
                        <td>{{TrainingsLeft}}</td>
                        <td>{{EndDate}}</td>
                        <td>{{CardPrice}}</td>
                    </tr>
{{/each}}
                    

                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>18</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>18</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>18</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Airi Satou</td>
                        <td>Accountant</td>
                        <td>18</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Brielle Williamson</td>
                        <td>Integration Specialist</td>
                        <td>19</td>
                        <td>61</td>
                        <td>2012/12/02</td>
                        <td>$372,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Herrod Chandler</td>
                        <td>Sales Assistant</td>
                        <td>18</td>
                        <td>59</td>
                        <td>2012/08/06</td>
                        <td>$137,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Rhona Davidson</td>
                        <td>Integration Specialist</td>
                        <td>18</td>
                        <td>55</td>
                        <td>2010/10/14</td>
                        <td>$327,900</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Colleen Hurst</td>
                        <td>Javascript Developer</td>
                        <td>18</td>
                        <td>39</td>
                        <td>2009/09/15</td>
                        <td>$205,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Sonya Frost</td>
                        <td>Software Engineer</td>
                        <td>18</td>
                        <td>23</td>
                        <td>2008/12/13</td>
                        <td>$103,600</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jena Gaines</td>
                        <td>Office Manager</td>
                        <td>20</td>
                        <td>30</td>
                        <td>2008/12/19</td>
                        <td>$90,560</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Quinn Flynn</td>
                        <td>Support Lead</td>
                        <td>18</td>
                        <td>22</td>
                        <td>2013/03/03</td>
                        <td>$342,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Charde Marshall</td>
                        <td>Regional Director</td>
                        <td>18</td>
                        <td>36</td>
                        <td>2008/10/16</td>
                        <td>$470,600</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Haley Kennedy</td>
                        <td>Senior Marketing Designer</td>
                        <td>20</td>
                        <td>43</td>
                        <td>2012/12/18</td>
                        <td>$313,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Tatyana Fitzpatrick</td>
                        <td>Regional Director</td>
                        <td>20</td>
                        <td>19</td>
                        <td>2010/03/17</td>
                        <td>$385,750</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Michael Silva</td>
                        <td>Marketing Designer</td>
                        <td>20</td>
                        <td>66</td>
                        <td>2012/11/27</td>
                        <td>$198,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Paul Byrd</td>
                        <td>Chief Financial Officer (CFO)</td>
                        <td>19</td>
                        <td>64</td>
                        <td>2010/06/09</td>
                        <td>$725,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Gloria Little</td>
                        <td>Systems Administrator</td>
                        <td>19</td>
                        <td>59</td>
                        <td>2009/04/10</td>
                        <td>$237,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Bradley Greer</td>
                        <td>Software Engineer</td>
                        <td>20</td>
                        <td>41</td>
                        <td>2012/10/13</td>
                        <td>$132,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Dai Rios</td>
                        <td>Personnel Lead</td>
                        <td>18</td>
                        <td>35</td>
                        <td>2012/09/26</td>
                        <td>$217,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jenette Caldwell</td>
                        <td>Development Lead</td>
                        <td>19</td>
                        <td>30</td>
                        <td>2011/09/03</td>
                        <td>$345,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Yuri Berry</td>
                        <td>Chief Marketing Officer (CMO)</td>
                        <td>19</td>
                        <td>40</td>
                        <td>2009/06/25</td>
                        <td>$675,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Caesar Vance</td>
                        <td>Pre-Sales Support</td>
                        <td>19</td>
                        <td>21</td>
                        <td>2011/12/12</td>
                        <td>$106,450</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Doris Wilder</td>
                        <td>Sales Assistant</td>
                        <td>21</td>
                        <td>23</td>
                        <td>2010/09/20</td>
                        <td>$85,600</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Angelica Ramos</td>
                        <td>Chief Executive Officer (CEO)</td>
                        <td>20</td>
                        <td>47</td>
                        <td>2009/10/09</td>
                        <td>$1,200,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Gavin Joyce</td>
                        <td>Developer</td>
                        <td>18</td>
                        <td>42</td>
                        <td>2010/12/22</td>
                        <td>$92,575</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jennifer Chang</td>
                        <td>Regional Director</td>
                        <td>22</td>
                        <td>28</td>
                        <td>2010/11/14</td>
                        <td>$357,650</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Brenden Wagner</td>
                        <td>Software Engineer</td>
                        <td>18</td>
                        <td>28</td>
                        <td>2011/06/07</td>
                        <td>$206,850</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Fiona Green</td>
                        <td>Chief Operating Officer (COO)</td>
                        <td>18</td>
                        <td>48</td>
                        <td>2010/03/11</td>
                        <td>$850,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Shou Itou</td>
                        <td>Regional Marketing</td>
                        <td>18</td>
                        <td>20</td>
                        <td>2011/08/14</td>
                        <td>$163,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Michelle House</td>
                        <td>Integration Specialist</td>
                        <td>21</td>
                        <td>37</td>
                        <td>2011/06/02</td>
                        <td>$95,400</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Suki Burks</td>
                        <td>Developer</td>
                        <td>20</td>
                        <td>53</td>
                        <td>2009/10/22</td>
                        <td>$114,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Prescott Bartlett</td>
                        <td>Technical Author</td>
                        <td>20</td>
                        <td>27</td>
                        <td>2011/05/07</td>
                        <td>$145,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Gavin Cortez</td>
                        <td>Team Leader</td>
                        <td>18</td>
                        <td>22</td>
                        <td>2008/10/26</td>
                        <td>$235,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Martena Mccray</td>
                        <td>Post-Sales support</td>
                        <td>18</td>
                        <td>46</td>
                        <td>2011/03/09</td>
                        <td>$324,050</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Unity Butler</td>
                        <td>Marketing Designer</td>
                        <td>18</td>
                        <td>47</td>
                        <td>2009/12/09</td>
                        <td>$85,675</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Howard Hatfield</td>
                        <td>Office Manager</td>
                        <td>18</td>
                        <td>51</td>
                        <td>2008/12/16</td>
                        <td>$164,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Hope Fuentes</td>
                        <td>Secretary</td>
                        <td>18</td>
                        <td>41</td>
                        <td>2010/02/12</td>
                        <td>$109,850</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Vivian Harrell</td>
                        <td>Financial Controller</td>
                        <td>18</td>
                        <td>62</td>
                        <td>2009/02/14</td>
                        <td>$452,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Timothy Mooney</td>
                        <td>Office Manager</td>
                        <td>20</td>
                        <td>37</td>
                        <td>2008/12/11</td>
                        <td>$136,200</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jackson Bradshaw</td>
                        <td>Director</td>
                        <td>19</td>
                        <td>65</td>
                        <td>2008/09/26</td>
                        <td>$645,750</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Olivia Liang</td>
                        <td>Support Engineer</td>
                        <td>22</td>
                        <td>64</td>
                        <td>2011/02/03</td>
                        <td>$234,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Bruno Nash</td>
                        <td>Software Engineer</td>
                        <td>20</td>
                        <td>38</td>
                        <td>2011/05/03</td>
                        <td>$163,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Sakura Yamamoto</td>
                        <td>Support Engineer</td>
                        <td>18</td>
                        <td>37</td>
                        <td>2009/08/19</td>
                        <td>$139,575</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Thor Walton</td>
                        <td>Developer</td>
                        <td>19</td>
                        <td>61</td>
                        <td>2013/08/11</td>
                        <td>$98,540</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Finn Camacho</td>
                        <td>Support Engineer</td>
                        <td>18</td>
                        <td>47</td>
                        <td>2009/07/07</td>
                        <td>$87,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Serge Baldwin</td>
                        <td>Data Coordinator</td>
                        <td>22</td>
                        <td>64</td>
                        <td>2012/04/09</td>
                        <td>$138,575</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Zenaida Frank</td>
                        <td>Software Engineer</td>
                        <td>19</td>
                        <td>63</td>
                        <td>2010/01/04</td>
                        <td>$125,250</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Zorita Serrano</td>
                        <td>Software Engineer</td>
                        <td>18</td>
                        <td>56</td>
                        <td>2012/06/01</td>
                        <td>$115,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jennifer Acosta</td>
                        <td>Junior Javascript Developer</td>
                        <td>18</td>
                        <td>43</td>
                        <td>2013/02/01</td>
                        <td>$75,650</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Cara Stevens</td>
                        <td>Sales Assistant</td>
                        <td>19</td>
                        <td>46</td>
                        <td>2011/12/06</td>
                        <td>$145,600</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Hermione Butler</td>
                        <td>Regional Director</td>
                        <td>20</td>
                        <td>47</td>
                        <td>2011/03/21</td>
                        <td>$356,250</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Lael Greer</td>
                        <td>Systems Administrator</td>
                        <td>20</td>
                        <td>21</td>
                        <td>2009/02/27</td>
                        <td>$103,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Jonas Alexander</td>
                        <td>Developer</td>
                        <td>18</td>
                        <td>30</td>
                        <td>2010/07/14</td>
                        <td>$86,500</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Shad Decker</td>
                        <td>Regional Director</td>
                        <td>18</td>
                        <td>51</td>
                        <td>2008/11/13</td>
                        <td>$183,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Michael Bruce</td>
                        <td>Javascript Developer</td>
                        <td>22</td>
                        <td>29</td>
                        <td>2011/06/27</td>
                        <td>$183,000</td>
                    </tr>
                    <tr>
                        <th><img src="images/pic.jpg" width="80px"></th>
                        <td>Donna Snider</td>
                        <td>Customer Support</td>
                        <td>19</td>
                        <td>27</td>
                        <td>2011/01/25</td>
                        <td>$112,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
</div>

<div id="add-client-wrapper" class="hidden">
    <div class="blur"></div>
    <div id="add-client-div">
        <a href="#">Upload picture</a>
        <input placeholder="Name" type="text">
        <input placeholder="Profession" type="text">
        <input placeholder="Age" type="number">
        <input placeholder="Trainings left" type="number">
        <input placeholder="End Date"type="date">
        <input placeholder="Price" type="number">
        
        <button>Add client</button>
    </div>
</div>