<div class="row">
    <div class="col-sm-12 col-md-12 user-details">
        <div class="user-image">
            <img src="{{picture}}" alt="{{name}}" title="{{name}}" class="img-circle">
        </div>
        <div class="user-info-block">
            <div class="user-heading">
                <h3>{{name}}</h3>
                <span class="help-block">{{profession}}</span>
                <div class="help-block">Trainings left: {{trainings}}</div>
            </div>
        </div>
    </div>
</div>